<div class="node-form" id="node-form">
  <div class="container">
    <div class="row">
      <div class="column column--span-2">
        <div class="tiny-label">
          {{ 'Kontakt' | t }}
        </div>
      </div>
      <div class="column column--span-10">
        <div class="row">
          <div class="column node-form__form">
            {{ form }}
          </div>
          {% if people[0] %}
            <div class="column node-form__people">
              <h4>{{ 'Kontaktpersonen' | t }}</h4>
              {{ people }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
