<div class="stable-link">
  <div class="stable-link__toggle">
    <span class="fa-solid fa-link"></span>
  </div>

  <div class="stable-link__tooltip">
    <div class="stable-link__tooltip-content-wrapper">
      <input type="text" id="stable-link" value="" class="stable-link__tooltip-content">
    </div>
    <div class="stable-link__tooltip-copy">
      <i class="fa-regular fa-copy"></i>
      <span>{{ 'Link copied' | t }}</span>
    </div>
  </div>
</div>
