.view-latest-events,
.view-past-events {
    .view-content {
        border-top: 1px solid $color-darken;
    }

    .view-content__link {
        @include spacing(margin, huge, top);
        display: flex;
        justify-content: center;
    }

    .views-row {
        border-bottom: 1px solid $color-darken;
    }
}
