<div class="container">
  <div class="header__content">
    <span class="header__welcome">
      {{ 'Willkommen bei der DDB' | t }}<span>{{ 'pro' | t }}</span>
    </span>
    {{ content }}
  </div>
</div>
