{% set image = content.field_image[0] %}

{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'teaser',
  image ? 'teaser--image',
  'overview-teaser',
  image ? 'overview-teaser--image'
] %}

{% set responsiveImage = { images: image.images } %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <a href="{{ content.field_link[0]['#url'] }}">
    {% if image %}
      <div class="teaser__image overview-teaser__image">
        {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
      </div>
    {% endif %}
    <div class="teaser__title overview-teaser__title">
      <h3>{{ label[0]['#context'].value }}</h3>
    </div>
    <div class="teaser__text overview-teaser__text">
      <p>{{ content.field_teaser_text[0]['#context'].value }}</p>
    </div>
  </a>
</article>
