{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  'aggregator-teaser-mini',
] %}

{% set responsiveImage = { images: content.field_image[0].images } %}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <a href="{{ url }}">
    <div class="aggregator-teaser-mini__image">
      {% include '@ddbp/partials/responsive-image.html.twig' with responsiveImage %}
    </div>
  </a>
</article>
