<div data-drupal-messages class="status-messages">
  {% block messages %}
    {% for type, messages in message_list %}
      {%  set classes = [
        'messages',
        'messages--' ~ type,
      ] %}

      <div role="contentinfo"
        aria-label="{{ status_headings[type] }}"
        {{ attributes.addClass(classes)|without('role', 'aria-label') }}>

        <div class="status-messages__icon">
          {% if type == 'error' %}
            <i class="fac fac-message-error"></i>
          {% endif %}
          {% if type == 'status' %}
            <i class="fac fac-message-success"></i>
          {% endif %}
        </div>

        <div class="status-messages__text-wrapper">
          <div class="status-messages__text">
            {% if messages|length > 1 %}
              <ul class="messages__list">
                {% for message in messages %}
                  <li class="messages__item">{{ message }}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{ messages|first }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endblock messages %}
</div>
